@font-face {
  font-family: 'Graphik-Regular';
  src: url('assets/fonts/graphikRegular/Graphik-Regular.eot');
  src: url('assets/fonts/graphikRegular/Graphik-Regular.eot?#iefix')
      format('embedded-opentype'),
    url('/graphikRegular/Graphik-Regular.svg#Graphik-Regular') format('svg'),
    url('assets/fonts/graphikRegular/Graphik-Regular.ttf') format('truetype'),
    url('assets/fonts/graphikRegular/Graphik-Regular.woff') format('woff'),
    url('assets/fonts/graphikRegular/Graphik-Regular.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}
